<% @title = "Scholarly Resources" %>
This is an area for those who wish to conduct scholarly research on Liberia and its civil conflict.
<ul id="scholarly">
  <li>
    <strong>1984 Constitution of the Republic of Liberia</strong><br/>
    <%= document_link("1984-constitution") %>
  </li>
  <li>
    <strong>Liberia Comprehensive Peace Agreement</strong><br/>
    Accra 18th, 2003<br/>
    <%= document_link("peace-agreement") %>
  </li>
  <li>
    <strong>An Act Establishing the Truth and Reconciliation Commission (TRC) of Liberia</strong><br/>
    Enacted by the National Transitional Legislative Assembly on May 12, 2005<br/>
    <%= document_link("trc-act") %>
  </li>
  <li>
    <strong>Souvenir Program, formal launching of the TRC. Theme: Truth and Reconciliation-Challenges and Prospect for new Liberia</strong><br/>
    <%= document_link("souvenir-program") %>
  </li>
  <li>
    <strong>Statement by Cllr. Jerome J. Verdier, Sr.,</strong><br/>
    Chairman, on the occasion of the launching of the TRC at the Centenial Memorial Pavillion, Ashmun Street, Monrovia, Liberia. (June 22nd, 2006)<br/>
    <%= document_link("statement-by-verdier") %>
  </li>
  <li>
    <strong>Statement by the Truth and Reconciliation Commission (TRC) of Liberia on the occasion of the Liberia's 159th Independence anniversary</strong><br/>
    <%= document_link("trc-independence-anniversary-statement") %>
  </li>
</ul>