<div id="videosets_show">
  <!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
  <!-- The terms of service are available at http://www.google.com/cse/docs/tos.html -->

  <% if @set.title.match(/Hearing/) %>
    <div id="filter_bar">
      You can look for specific videos by choosing a filter criteria below.
      <% if @any_filters %>
        Or you can <%= link_to("view all videos", "/videosets/1") %>.
      <% end %>

      <form id="filter_form">
        <%= select_tag(:region, "<option value=\"any\">Any county</option>" +
          options_from_collection_for_select(@regions, 'id', 'name_and_country',
          params[:region] ? params[:region].to_i : nil), :onchange => "console.log(this); window.location.href = '/videosets/1/region/' + this.value + '/1.html'") %>
        <%= select_tag(:month, "<option value=\"any\">Any month</option>" +
          options_for_select(@months.collect{|m| ["#{Date::MONTHNAMES[m['month'].to_i]} #{m['year']}", "#{m['year']}-#{m['month']}"]},
          params[:month]), :onchange => "console.log(this); window.location.href = '/videosets/1/month/' + this.value + '/1.html'") %>
        <%= select_tag(:linitial, "<option value=\"any\">Any last name</option>" +
          options_for_select(@linitials.collect{|l| [l['linitial'], l['linitial']]},
          params[:linitial]), :onchange => "console.log(this); window.location.href = '/videosets/1/linitial/' + this.value + '/1.html'") %>
        <%= select_tag(:htype, "<option value=\"any\">Any hearing type</option>" +
          options_from_collection_for_select(@htypes, 'id', 'name',
          params[:htype] ? params[:htype].to_i : nil), :onchange => "console.log(this); window.location.href = '/videosets/1/htype/' + this.value + '/1.html'") %>
      </form>
    </div>
  <% end %>

  <%= render(:partial => "small_nav")%>

  <div id="videos">
    <% if @videos.empty? %>
      <div id="not_found">No videos found.</div>
    <% else %>
      <% count = 0 %>
      <% @videos.each do |v| count += 1 %>
        <div class="thumbnail">
          <%= link_to(image_tag(v.path("thumbnail"), :alt => v.title), v) %>
          <%= v.title %>
        </div>
        <% if count == 4; count = 0 %><br clear="all"/><% end %>
      <% end %>
    <% end %>
  </div>
  <br clear="left">

  <%= render(:partial => "small_nav")%>

  <%= link_to("Back to Main Video Page", videosets_url) %>

  <% if @set.title.match(/Hearing/) %>
    <!-- INCLUDE THESE HIDDEN LINKS SO THAT ALL PAGES WILL GET INDEXED EVEN THOUGH WE ARE USING JS AND SELECTS FOR FILTERS -->
    <div id="hidden_links">
      <% @regions.each do |r| %>
        <a href="<%= "/videosets/1/region/" + r.id.to_s + "/1.html" %>"><%= r.name_and_country -%></a>
      <%end%>
      <% @months.each do |m| %>
        <a href="<%= "/videosets/1/month/" + m['year'].to_s + "-" + m['month'].to_s + "/1.html" %>"><%= Date::MONTHNAMES[m['month'].to_i] + " " + m['year'] -%></a>
      <%end%>
      <% @linitials.each do |l| %>
        <a href="<%= "/videosets/1/linitial/" + l['linitial'].to_s + "/1.html" %>" ><%= l['linitial'] -%></a>
      <%end%>
      <% @htypes.each do |h| %>
        <a href= "<%= "/videosets/1/htype/" +  h.id.to_s + "/1.html" %>" ><%= h.name -%></a>
      <%end%>
    </div>
  <% end %>
</div>
