<% @content = yield %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
<head>
  <title>Truth and Reconciliation Commission of Liberia</title>
  <%= stylesheet_link_tag('style') %>
  <%= @js.collect{|j| javascript_include_tag(j.to_s)} %>

</head>

<body dir="ltr">

	<div id="page-frame">
		<div id="header">
			<a href="/" id="header-link"> </a>
		</div>
    	<div id="nav-bar">
    	    <div id="security">
    	        <a href="/about/safe-and-secure"> </a>

    	    </div>
        	<div id="menu">
        		<ul id="menu-nav">
        			<li>
        				<a href="/about">ABOUT</a>
        				<ul class="submenu-nav">
        					<li><a href="/about/safe-and-secure">SAFE AND SECURE</a></li>
        					<li><a href="/about/trc-mandate">TRC MANDATE</a></li>
        					<li><a href="/about/commissioners">COMMISSIONERS</a></li>
                  <li><a href="/hearings">HEARINGS</a></li>
        					<li><a href="/about/statement-taking">STATEMENT TAKING</a></li>
        					<li><a href="/about/scholarly-resources">SCHOLARLY RESOURCES</a></li>
        					<li><a href="/about/contact-us">CONTACT US</a></li>
        				</ul>
        			</li>
        			<li>
        				<a href="/news">NEWS</a>
        				<ul class="submenu-nav">
        					<li><a href="/press_releases">PRESS RELEASES</a></li>
        					<li><a href="/news/fast-track">FAST TRACK (TRC NEWSLETTER)</a></li>
        					<li><a href="/news_items">TRC NEWS</a></li>
        					<li><a href="/news/trc-in-the-media/">TRC IN THE MEDIA</a></li>
        				</ul>
        			</li>
        			<li>
        				<a href="/videosets">VIDEOS</a>
        			</li>
        			<li>
        				<a href="/photos">PHOTOS</a>
        			</li>
        			<li>
        				<a href="/hearings">HEARINGS</a>
        				<ul class="submenu-nav">
        					<li><a href="/hearings">INFORMATION</a></li>
        					<li><a href="/videosets/1">VIDEOS</a></li>
        					<li><a href="/transcripts">TRANSCRIPTS</a></li>
        				</ul>
        			</li>
        			<li>
        				<a href="/reports">REPORTS</a>
        				<ul class="submenu-nav">
        					<li><a href="/reports/final-report">FINAL</a></li>
        					<li><a href="/reports/quarterly-reports">QUARTERLY</a></li>
        					<li><a href="/reports/semi-annual-reports">SEMI-ANNUAL</a></li>
        					<li><a href="/reports/financial-reports">FINANCIAL</a></li>
        				</ul>
        			</li>
        			<li>
        				<a href="/diaspora">DIASPORA</a>
        				<ul class="submenu-nav">
        					<li><a href="/diaspora/usa-information">USA</a></li>
        					<li><a href="/diaspora/ghana-information">GHANA</a></li>
        				</ul>
        			</li>
        		</ul>
        	</div>
			<div id="login-bar">
				<div id="portal-breadcrumbs">
					<% (@crumb || []).each_index do |i| c = @crumb[i] %>
					  <% if i+1 < @crumb.size %>
					    <% c = [c, "/" + @path_bits[0, i+1].join("/")] if c.is_a?(String) %>
					    <%= link_to(c[0], c[1]) %> &nbsp;&gt;&nbsp;
					  <% else %>
					    <%= c.is_a?(Array) ? c[0] : c %>
					  <% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div id="container">

			<div id="main-column">
				<div class="" id="content">
					<div id="region-content" class="documentContent">
						<table class="blog" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td valign="top">
					<div>

<table class="contentpaneopen" width="100%">
<tr>
		<td width="100%">
      <h1><%= @title %></h1>
</td>



		</tr>
</table>
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
<%= @content %>

</td>
</tr>



</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>

					</div>
				</div>
			</div>
		</div>

		<div id="links">
    		<ul>
    			<li><a href="/about/contact-us">Contact Us</a></li>
    			<li><a href="/about/scholarly-resources">Scholarly Resources</a></li>
    			<li><a href="/about/commissioners">Commissioners</a></li>
    		</ul>
    	</div>

    	<div id="info-bottom">
        	<div id="creative-commons">
				<table><tr>
					<td>
                		<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
                   			<%= image_tag("cclic.png") %>
						</a>
					</td>
					<td>
						<a rel="license" target= "_blank" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
	                       This work is licensed under a Creative Commons<br/>
						   Attribution-Noncommercial-No Derivative Works 3.0 License </a>
					</td>
				</tr>
				<tr>
					<td colspan = "2"> This had been the official website of the Liberian TRC.
					The Commission ended operation <br/> in 2010.
					This website is maintained by the Georgia Institute of Technology.
					</td>
				</tr>
				</table>
        	</div>
    	</div>

    </div>

<!-- google analytics code -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ?
  "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost +
  "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
   var pageTracker = _gat._getTracker("UA-2342148-4");
   pageTracker._initData();
   pageTracker._trackPageview();
</script>
<!-- end google analytics code -->

</body>
</html>
